

@font-face {
    font-family: arima;
    src: url();
}

@font-face {
    font-family: 'Beau Riveau';
    src: url('./assets/fonts/Beau/Beau/BeauRivage-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;